__pycache__
data
exps
_*/
exps_custom*
processed_dataset

analysis_results*

detailed_analysis.py
evaluate_tactile_predictions.py
README_tactile_evaluation.md
test_evaluator.py

*.zip
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lzma
*.tar.lz
*.tar.Z
*.tar.wim