# general
# data_dir: data
gpu_config: configs/gpu_config_7b.json
cuda: 0
seed: 0
exps_path: exps_custom
train: True
val: True
test: False

# data preprocessing
flip_p: 0.

# encoder
use_vqvae: False
use_clip: 'openai/clip-vit-large-patch14'
freeze_encoder: True
encoder_path: {
                'color': 'exps_custom/2025_07_07_19_03_15_train_tllm_train_val_vicuna-7b_30000_0707/encoder_color_30000.pt',
                'temperature': 'exps_custom/2025_07_07_19_03_15_train_tllm_train_val_vicuna-7b_30000_0707/encoder_temperature_30000.pt',
                'texture': 'exps_custom/2025_07_07_19_03_15_train_tllm_train_val_vicuna-7b_30000_0707/encoder_texture_30000.pt',
                'teng': 'exps_custom/2025_07_07_19_03_15_train_tllm_train_val_vicuna-7b_30000_0707/encoder_teng_30000.pt'
}
encoder_output_size: 1024
num_context_vision: 8
prompt_depth_vision: 12
dim_context_vision: 1024
num_context_text: 6
prompt_depth_text: 12
dim_context_text: 768

# projection
freeze_projection: False
projection_lr: 0.0002
projection_path: {
    'color': 'exps_custom/2025_07_07_19_03_15_train_tllm_train_val_vicuna-7b_30000_0707/project_color_30000.pt',
    'temperature': 'exps_custom/2025_07_07_19_03_15_train_tllm_train_val_vicuna-7b_30000_0707/project_temperature_30000.pt',
    'texture': 'exps_custom/2025_07_07_19_03_15_train_tllm_train_val_vicuna-7b_30000_0707/project_texture_30000.pt',
    'teng': 'exps_custom/2025_07_07_19_03_15_train_tllm_train_val_vicuna-7b_30000_0707/project_teng_30000.pt'
} 


# LLM
train_files: ['data/train_qa.json']
val_files: ['data/test_qa.json']
test_files: ['', '']
model_type: vicuna-7b
cutoff_len: 512
offload_dir: ./
llm_lr: 0.0002
quantized: False
tokenizer_path: exps_custom/2025_07_07_19_03_15_train_tllm_train_val_vicuna-7b_30000_0707/tokenizer  # you should specify the path in second stage
llm_path: exps_custom/2025_07_07_19_03_15_train_tllm_train_val_vicuna-7b_30000_0707/llm_weights # you should specify the path in second stage
## LoRA
lora_trained: False
use_lora: True # In the first stage: False; In the sencond stage, True
lora_alpha: 256
r: 128
lora_dropout: 0.05
target_modules:
  - q_proj
  - k_proj
modules_to_save:
  - embed_tokens
bias: none
## train
max_train_steps: 20000 # 30000 for the first stage, 5000 for second stage
save_freq: null
per_device_train_batch_size: 1
llm_gradient_accumulation_steps: 16
warmup_steps: 0.03
## val
per_device_val_batch_size: 1
## generation
max_new_tokens:
  train_object_property_description: 100
  train_object_comparison: 200
  train_object_reasoning: 500
  eval_object_property_description: 100
  eval_object_comparison: 200
  eval_object_reasoning: 500